@charset 'utf-8';

:root {
  --mainColor: red;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Gudea", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #8E9092;
    background: #D8D8D8;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Gudea", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5625rem;
    font-weight: bold;
}

a {
    color: #349EE1;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

a {
    background-color: transparent;
}

button {
    border: 0;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1;
}

label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #8E9092;
}

[type='text'], [type='password'], [type='email'], [type='number'], [type='search'], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #D8D8D8;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #8E9092;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 0;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    font-weight: bold;
}

[type='text']:focus, [type='password']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, textarea:focus {
    border: 1px solid #8E9092;
    background-color: #fefefe;
    outline: none;
    box-shadow: 0 0 5px #D8D8D8;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    background-color: #F7F7F7;
    cursor: not-allowed;
}

main {
    display: block;
    max-width: 56.25rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F7F7;
}

main:before, main:after {
    content: " ";
    display: table;
}

main:after {
    clear: both;
}

header {
    width: 100%;
    padding: 0 0.9375rem 0 0.9375rem;
}

header .title {
    width: 66.6667%;
    float: left;
}

header .banner {
    width: 25%;
    float: left;
}

header:before, header:after {
    content: " ";
    display: table;
}

header:after {
    clear: both;
}

.LoginPage .button.submit {
    margin-left: 50%;
    width: 50%;
    letter-spacing: 2px;
}

.LoginPage {
    max-width: none;
    width: 100%;
}

.LoginPage:before, .LoginPage:after {
    content: " ";
    display: table;
}

.LoginPage:after {
    clear: both;
}

.Left {
    /* 4 cols */
    float: left;
    width: 33.33333%;
    padding: 0 0.9375rem 0 0.9375rem;
}

.Right {
    /* 7 cols */
    float: left;
    width: 58.333%;
    padding: 0 0.9375rem 0 0.9375rem;
    margin-left: 8.33333%;
}

.formrow-left, .formrow-right {
    /* 6 cols */
    width: 50%;
    float: left;
    padding: 0 0.9375rem 0 0.9375rem;
}

.formrow-left {
    padding-left: 0;
}

.formrow-right {
    padding-right: 0;
}

.button-bar {
    text-align: right;
}

.button-bar:before, .button-bar:after {
    content: " ";
    display: table;
}

.button-bar:after {
    clear: both;
}

.button-bar .button {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 0.9375rem;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Menlo, 'Courier New', Terminal, monospace;
    letter-spacing: 2px;
    font-size: 0.9rem;
    background-color: #349EE1;
    color: #fefefe;
}


/** for COLUMN makro: width, padding, float:left, margin/offset? */


/* for ROW makro: clearfix */

.menu {
    margin: 0;
    list-style-type: none;
}

.menu .active > a {
    color: #fefefe;
    background: #349EE1;
}

.menu.disabled a {
    color: #8E9092;
    cursor: default;
}

.menu.disabled li.active a {
    color: #fefefe;
    background-color: #8E9092;
}

.menu > li {
    display: block;
}

.menu li:hover {
    background-color: #349EE1;
}

.menu.disabled li:hover {
    background-color: #F7F7F7;
    color: #8E9092;
}

.menu.disabled li:hover a {
    color: #8E9092;
}

.menu.disabled li.active a:hover {
    color: #fefefe;
}

.menu > li > a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
}

.menu li:hover a {
    color: #fefefe;
}

.button.small {
    font-size: 0.75rem;
}

.button.tiny {
    font-size: 0.6rem;
}

.button.disabled, .button[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
}

.button.success {
    background-color: #3adb76;
    color: #fefefe;
}

.button.secondary {
    background-color: #777;
    color: #fefefe;
}

.input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
}

.input-group-label, .input-group-field, .input-group-button {
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}

.input-group-field {
    border-radius: 0;
    height: 2.5rem;
}

.input-group >:first-child {
    border-radius: 0 0 0 0;
}

.button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.float-right {
    float: right !important;
}

.MessageView {
    /* 4 cols */
    margin-left: 41.6667%;
    /* 7 cols */
    width: 58.3333%;
    padding: 0 0.9375rem 0 0.9375rem;
}

.MessageView:before, .MessageView:after {
    content: " ";
    display: table;
}

.MessageView:after {
    clear: both;
}

.callout {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    position: relative;
    color: #8E9092;
    background-color: white;
}

.callout.success {
    background-color: #e1faea;
}

.callout.alert {
    background-color: #fce6e2;
}

.close-button {
    position: absolute;
    color: #8E9092;
    right: 1rem;
    top: 0.5rem;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
}

.ContactsPage {
    max-width: none;
    width: 100%;
}

.ContactsPage:before, .ContactsPage:after {
    content: " ";
    display: table;
}

.ContactsPage:after {
    clear: both;
}